MODEL_TRAFFIC_MANAGER_APP_NAME=model-traffic-manager
MODEL_TRAFFIC_MANAGER_ENVIRONMENT=local
MODEL_TRAFFIC_MANAGER_HOST=0.0.0.0
MODEL_TRAFFIC_MANAGER_PORT=8000
MODEL_TRAFFIC_MANAGER_RELOAD=false
MODEL_TRAFFIC_MANAGER_CONFIG_PATH=configs/example.router.yaml
MODEL_TRAFFIC_MANAGER_LOG_LEVEL=INFO
